<template>
    <div class="container">
    <h1>Retrieve a random joke from a given category.</h1>
    <button
      v-for="category in categories"
      :key="category"
      v-on:click="fetchJokeByCategory(category)"
      class="category-btn"
    >
      {{ category }}
    </button>
    
    <joke-box v-if="joke" :key="joke.id" :joke="joke"></joke-box>

  </div>
</template>

<script>
import JokeBox from './shared/joke-box';
import { mapActions, mapGetters } from "vuex";

export default {
  components: {
    JokeBox
  },
  computed: {
    ...mapGetters("categories", ["categories", "joke"]),
  },
  methods: {
    ...mapActions("categories", ["fetchCategories", "fetchJokeByCategory"]),
  },
  async mounted() {
    if (this.categories.length === 0) {
      await this.fetchCategories();
    }
  }
};
</script>