<template>
    <div class="container">
    <h1>Recent posts</h1>
	<div class="row">
	  <div class="col-md-4">
	    <div class="post">
                  <a href=""> <img class="post__img" src="../assets/images/post1.jpg" alt=""></a>
		  <div class="post__body">
			<p class="post__title">title 1</p>
			<p class="post__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
		  </div>
	    </div>
	 </div>
	  <div class="col-md-4">
	    <div class="post">
                  <a href=""> <img class="post__img" src="../assets/images/post2.jpg" alt=""></a>
		  <div class="post__body">
			<p class="post__title">title 2</p>
			<p class="post__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
		  </div>
	    </div>
	 </div>
	  <div class="col-md-4">
	    <div class="post">
                  <a href=""> <img class="post__img" src="../assets/images/post3.jpg" alt=""></a>
		  <div class="post__body">
			<p class="post__title">title 3</p>
			<p class="post__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
		  </div>
	    </div>
	 </div>
	</div>
          
    
</div>
</template>