<template>
  <div class="clear-top">
    <!-- <div class="masthead clear-top">
      <div class="overlay-jo">
        <div class="container text-center">
          <h1>Smiles</h1>
          <h3>
            <em>Add a little humor to your life!</em>
          </h3>
        </div>
      </div>
    </div> -->

    <social-networks></social-networks>
     <main-menu></main-menu>
  </div>
</template>

<script>
import SocialNetworks from "./shared/social";
import MainMenu from "./shared/main-menu";
export default {
    components: {
        socialNetworks: SocialNetworks,
        mainMenu: MainMenu
    }
}
</script>