<template>
    <div class="container">
        <h1>Random Joke</h1>
        <joke-box :key="randomJoke.id" :joke="randomJoke"></joke-box>
        <br>
        <button class="btn" v-on:click="fetchRandomJoke">Get me a new one ...</button>
    </div>
</template>

<script>
import JokeBox from './shared/joke-box';
import { mapGetters, mapActions } from "vuex";

export default {
    components: {
        JokeBox
    },
    computed: {
        ...mapGetters('random', ['randomJoke'])
    },
    methods: {
        ...mapActions('random', ['fetchRandomJoke'])
    },
    async mounted() {
        if (this.randomJoke === '') {
            await this.fetchRandomJoke();
        }
    }
}
</script>