<template>
  <div class="container">
    <h1>Text Search</h1>

    <input v-model="text" class="search-text" type="search" placeholder="search in jokes" />
    <router-link
      :to="{query: {text: text}}"
      v-on:click.native="fetchSearchedJokes(text)"
      class="search-btn"
    >search</router-link>

    <joke-box v-for="joke in getSearchedJokes" :key="joke.id" :joke="joke"></joke-box>

  </div>
</template>

<script>
import JokeBox from "./shared/joke-box";
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      text: ""
    };
  },
  components: {
    JokeBox
  },
  computed: {
    ...mapGetters("search", ["getSearchedJokes"])
  },
  methods: {
    ...mapActions("search", ["fetchSearchedJokes"])
  }
};
</script>