<template>
  <div id="app">
    <div class="content-wrap">
      <app-header></app-header>
      <index></index>

      <transition enter-active-class="animated fadeIn">
        <router-view></router-view>
      </transition>

      <app-footer></app-footer>
    </div>
  </div>
</template>

<script>
import AppHeader from "./pages/shared/header";
import AppFooter from "./pages/shared/footer";
import Index from "./pages/index";
import {mapGetters, mapActions} from 'vuex';
export default {
  components: {
    appHeader: AppHeader,
    index: Index,
    appFooter: AppFooter
  },
  computed: {
    ...mapGetters('user', ['ip'])
  },
  methods: {
    ...mapActions('user', ['fetchUserInfo', 'fetchUserScores'])
  },
  async mounted() {
    await this.fetchUserInfo();
    await this.fetchUserScores(this.ip);
  }
};
</script>

