.footer {
    //padding-top: 5rem;
    //padding-bottom: 5rem;
    margin-top: 2rem;
    background: #b52b4a;
    width: 100%;
    height: 10rem;
    line-height: 10rem;
    position: absolute;
    bottom: 0;
}
.footer:before {
    // content: "";
    // position: absolute;
    // top: -2rem;
    // height: 2rem;
    // width: 100%;
}