.header {
    background-color: #b52b4a;
    height: 70px;
}

.brand-logo {
    position: fixed;
    left: 15px;
    top: 15px;
    margin: 5px;
    z-index: 999;
}
.menu-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 50px;
    z-index: 999;
    &:focus {
        color: #fff;
    }
    &:hover {
        color: #fff;
        background: #343a40;
    }
}
/* Side Menu */
.test {
    position: fixed;
    z-index: 2;
    right: 0;
    top: 0;
    width: 250px;
    height: 100%;
    transition: all 0.4s ease 0s;
    transform: translateX(250px);
    background: rgba(52, 58, 64, 0.8);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    .sidebar-nav {
        position: absolute;
        top: 0;
        width: 250px;
        margin: 0;
        padding: 0;
        list-style: none;
        li.sidebar-nav-item a {
            display: block;
            text-decoration: none;
            color: #fff;
            padding: 15px;
            &:hover {
                background: rgba(255, 255, 255, 0.2);
            }
        }
    }
}
nav.active {
    right: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav > .sidebar-brand {
    font-size: 1.2rem;
    background: rgba(52, 58, 64, 0.1);
    height: 80px;
    line-height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.sidebar-nav > .sidebar-brand a {
    color: #fff;
}

.sidebar-nav li.sidebar-nav-item a {
    display: block;
    color: #fff;
    padding: 15px;
}
.collapse:not(.show) {
    display: none;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
