#app {
    position: relative;
    min-height: 100vh;
}
.content-wrap {
    padding-bottom: 12rem;
}
.clear-top {
    margin-top: 20px;
}

/*
.masthead {
    min-height: 10rem;
    position: relative;
    width: 100%;
    height: auto;
    background: url(../images/women_smile.jpg) no-repeat center center fixed;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
    color: #fff;
    h1 {
        font-size: 4rem;
        margin: 0;
        padding: 0;   
    }
}
*/