.card {
    border: 3px solid powderblue;
    border-radius: 1.5rem;
    margin: 2rem;
}
.card__body {
    padding: 1.5em;
    padding-bottom: 0;
}
.card__text {
    font-size: 20px;
    letter-spacing: 0.06rem;
}
.card__footer {
    text-align: right;
}
.card__good,
.card__bad {
    font-size: 30px;
    cursor: pointer;
}
.card__goodscore,
.card__badscore {
    font-size: 25px;
}
