.main-menu {
    display: inline-block;
    border-bottom: 3px solid #9f1f63;
    margin-left: 40px;
    .nav {
        display: flex;
        padding-inline-start: 0;
        li {
            margin: 0 10px;
            a {
                font-size: 18px;
            }
            .active {
                color: #e83e8c;
            }
        }
    }
}


