body {
	background-color: #f5f5f5;
    margin: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}
a {
	text-decoration: none;
	color: black;
}
img {
	vertical-align: middle;
}
ul {
	list-style: none;
}
