.search {
    position: relative;
    left: 120px;
    top: 10px;
    width: 300px;
    margin: 0.15rem 0.25rem 0 0;
    .search__input {
        padding: 0.75rem 1rem;
        width: 260px;
        background: powderblue;
        border-radius: 30px;
        font-weight: bold;
        opacity: 0;
        border: 2px solid #333;
        &:hover,
        &:focus {
            outline: none;
	        opacity: 1;
        }
    }
    .search__feedback {
        position: absolute;
        right: 3rem;
        bottom: 0.85rem;
        font-weight: bold;
        display: flex;
        pointer-events: none;
    }
}

.search__input:hover ~ .search__feedback span,
.search__input:focus ~ .search__feedback span
 {
	opacity: 0;
}