.search-text {
    padding: 0.75rem 1rem;
    width: 260px;
    border-radius: 30px;
    font-weight: bold;
    outline: none;
    border: 2px solid #333;
}

.search-btn {
    padding: .65rem 1rem;
    border-radius: .25rem;
    background-color: #e83e8c;
    margin-left: 10px;
}

