.social__icons {
  float: right;
  margin-right: 40px;
}

a.social-link {
  text-align: center;
  float: left;
  width: 36px;
  height: 36px;
  border: 1px solid #909090;
  margin-right: 7px;
  i {
    font-size: 20px;
    line-height: 38px;
    color: #909090;
    border: 1px solid transparent;
  }
}
.list-inline-item {
  display: inline-block;
}
