@import 'reset';
@import 'grid';
@import 'header';
@import 'search';
@import 'index';
@import 'social';
@import 'main-menu';
@import 'home';
@import 'random';
@import 'categories';
@import 'search-text';
@import 'joke-box';
@import 'footer';


.text-center {
    text-align: center;
}

.rounded {
    border-radius: .25rem;
}

.rounded-circle {
    border-radius: 50%;
}
