<template>
  <header class="header">
    <div class="brand-logo">
      <router-link to="/" title="Smile">
        <img src="../../assets/images/branding/smile_magenta.png" width="50" alt="smile" />
      </router-link>
    </div>
    <a
      class="menu-toggle rounded"
      :class="{active: sidebar}"
      href="#"
      v-on:click="sidebar = !sidebar"
    >
      <i :class="{fa:true, 'fa-bars': !sidebar, 'fa-times': sidebar}"></i>
    </a>

    <nav id="sidebar-wrapper" :class="{active: sidebar, test: true}">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <router-link to="/" title="Smile">
            <img src="../../assets/images/branding/smile_magenta.png" width="30" alt="smile" /> Home
          </router-link>
        </li>

        <li class="sidebar-nav-item" v-for="item in items" :key="item.title">
          <a
            :href="item.link"
            class="dropdown-toggle"
            data-toggle="collapse"
            v-on:click="item.show = !item.show"
            v-html="item.title"
          ></a>
          <ul class="sidebar-nav-item collapse" :class="{show: item.show}" :id="item.link.slice(1)">
            <li class="sidebar-nav-item" v-for="subtitle in item.subtitles" :key="subtitle">
              <a href>{{ subtitle }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <search-form></search-form>
  </header>
</template>

<script>
import SearchForm from "./search";
export default {
  data() {
    return {
      sidebar: false,
      items: [
        {
          title: "Create",
          subtitles: ["Add a new Joke"],
          link: "#create-submenu",
          show: false
        },
        {
          title: "Consume",
          subtitles: ["Joke of the day", "Jokes API"],
          link: "#consume-submenu",
          show: false
        },
        {
          title: "About",
          subtitles: ["Blog", "Contact Us", "Terms", "Privacy Policy"],
          link: "#about-submenu",
          show: false
        },
        {
          title: '<i class="icon-user"></i>',
          subtitles: ["Login", "Register"],
          link: "#user-submenu",
          show: false
        }
      ]
    };
  },
  components: {
    searchForm: SearchForm
  }
};
</script>