<template>
<div class="row">
  <div class="col-md-8 card">
    <div class="card__body">
      <div class="card__text">{{ joke.value }}</div>
      <div class="card__footer">
        <a :class="{card__good: true, active_score: like }" v-on:click="onGood()">&#128522;</a>
        <span class="card__goodscore" v-if="scores[joke.id]">{{ scores[joke.id].good }}</span>
        <span :class="{card__bad: true, active_score: dislike}" v-on:click="onBad()">&#128528;</span>
        <span class="card__badscore" v-if="scores[joke.id]">{{ scores[joke.id].bad }}</span>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import {mapGetters, mapActions, mapMutations} from 'vuex';

export default {
  props: ["joke"],
  data() {
    return {
      // control style
      like: false,
      dislike: false
    }
  },

  computed: {
    ...mapGetters('jokeBox', ['scores']),
    ...mapGetters('user', ['userScores'])
  },

  methods: {
    ...mapActions('jokeBox', ['fetchScores', 'postGoodScore', 'postBadScore', 'switchBetweenGoodBad']),
    ...mapActions('user', ['postUserScoreForeJoke', 'deleteUserScoreForeJoke']),
    ...mapMutations('jokeBox', ['SET_GOOD_SCORE', 'SET_BAD_SCORE']),

    onGood() {
      if (!Object.keys(this.userScores).includes(this.joke.id)) {
        this.userScores[this.joke.id] = {how: 'good'};
        this.postGoodScore({id: this.joke.id, num: 1});
        this.postUserScoreForeJoke({id: this.joke.id, how: 'good'});
        this.SET_GOOD_SCORE({id: this.joke.id, num: 1});
        this.like = true;
        this.dislike = false;
      } else if (this.userScores[this.joke.id].how === 'bad') {
        this.userScores[this.joke.id].how = 'good';
        this.switchBetweenGoodBad({
          id: this.joke.id, 
          body: {
            bad: this.scores[this.joke.id].bad - 1, 
            good: this.scores[this.joke.id].good + 1
          }
        });
        this.postUserScoreForeJoke({id: this.joke.id, how: 'good'});
        this.SET_BAD_SCORE({id: this.joke.id, num: -1});
        this.SET_GOOD_SCORE({id: this.joke.id, num: 1});
        this.like = true;
        this.dislike = false;
      } else {
        delete this.userScores[this.joke.id];
        this.postGoodScore({id: this.joke.id, num: -1});
        this.deleteUserScoreForeJoke(this.joke.id);
        this.SET_GOOD_SCORE({id: this.joke.id, num: -1});
        this.like = false;
        this.dislike = false;
      }
    },  

    onBad() {
      if (!Object.keys(this.userScores).includes(this.joke.id)) {
        this.userScores[this.joke.id] = {how: 'bad'};
        this.postBadScore({id: this.joke.id, num: 1});
        this.postUserScoreForeJoke({id: this.joke.id, how: 'bad'});
        this.SET_BAD_SCORE({id: this.joke.id, num: 1});
        this.like = false;
        this.dislike = true;
      } else if (this.userScores[this.joke.id].how === 'good') {
        this.userScores[this.joke.id].how = 'bad';
        this.switchBetweenGoodBad({
          id: this.joke.id, 
          body: {
            bad: this.scores[this.joke.id].bad + 1, 
            good: this.scores[this.joke.id].good - 1
          }
        }); 
        this.postUserScoreForeJoke({id: this.joke.id, how: 'bad'});
        this.SET_GOOD_SCORE({id: this.joke.id, num: -1});
        this.SET_BAD_SCORE({id: this.joke.id, num: 1});
        this.like = false;
        this.dislike = true;
      } else {
        delete this.userScores[this.joke.id];
        this.postBadScore({id: this.joke.id, num: -1});
        this.deleteUserScoreForeJoke(this.joke.id);
        this.SET_BAD_SCORE({id: this.joke.id, num: -1});
        this.like = false;
        this.dislike = false;
      }
    },

    check() {
      if (this.userScores[this.joke.id]) {
        if (this.userScores[this.joke.id].how === 'good') {
          this.like = true;
        };
        if (this.userScores[this.joke.id].how === 'bad') {
          this.dislike = true;
        };
      }     
    }
  },
  async mounted() {
    await this.fetchScores(this.joke);
    await this.check();
  }
};
</script>

<style>
  .active_score {
    border: 2px solid purple;
    border-radius: 50%;
  }
</style>