<template>
    <div class="main-menu">
              <ul class="nav navbar-nav">
                <li>
                  <router-link to="/" active-class="active" exact>Home</router-link>
                </li>
                <li>
                  <router-link to="/random" active-class="active" exact>Random</router-link>
                  <!-- <router-link to="" active-class="active" exact>Random</router-link> -->
                </li>
                <li>
                  <router-link to="/categories" active-class="active" exact>Categories</router-link>
                </li>
                <li>
                  <router-link to="/search" active-class="active" exact>Search</router-link>
                </li>
                <li>
                  <router-link to="/about" active-class="active" exact>About Us</router-link>
                </li>
                <li>
                  <router-link to="/contact" active-class="active" exact>Contact</router-link>
                </li>
              </ul>
     </div>
</template>