<template>
    <form class="search" action="/search">
        <input id="search-input" class="search__input" name="q" type="search">
	<span class="search__feedback">
        <span>Search In Site&nbsp;</span><i class="icon-magnifier"></i>
    </span>
    </form>
</template>