<template>
    <!-- <div class="container"> -->
   <div class="social__icons">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a class="social-link rounded-circle" href="#" title="Share this in facebook page">
              <i class="icon-social-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle" href="#" title="Tweet this">
              <i class="icon-social-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle" href="#" title="Share this in Linkedin">
              <i class="icon-social-linkedin"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle" href="#" title="Share this in stumbleupon">
              <i class="icon-social-stumbleupon"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle  mr-3" href="#" title="Share this in reddit">
              <i class="icon-social-reddit"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle  mr-3" href="#" title="Bookmark in Google bookmarks">
              <i class="icon-social-google"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="social-link rounded-circle  mr-3" href="#" title="Share this via email">
              <i class="icon-envelope-letter"></i>
            </a>
          </li>
        </ul>
   </div>
<!-- </div> -->
</template>